<template>
  <div id="market">
    <ul>
      <li>Timber - $2</li>
      <li>Steel - $5</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Market'
}
</script>

<style>
#market {
  border: 1px black solid;
}
</style>
